@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  height: 100vp;
  margin: 0;
  font-family: 'Poppins', arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.navbar, .container {
  background: #6109E0;
}

.navbar a, .container a {
  color: white;
  padding: 1em;
}

.navbar .logo img, .container .logo img {
  width: 145px;
  height: 95px;
}

.navbar nav, .container nav {
  display: none;
}

.navbar .container, .container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu, .container .mobile-menu {
  cursor: pointer;
  background: white;
  width: 135px;
  height: 135px;
}

.navbar .social-header, .container .social-header {
  display: none;
}

.hero {
  background: #6200EE;
  color: white;
  display: grid
 text-align center;
  padding: 4em;
}

.hero .hero-design {
  display: none;
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 20px;
  padding-bottom: -5px;
  font-weight: bold;
}

.hero .subhead {
  font-size: 30px;
  font-weight: bold;
}

.hero .meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 9em;
  font-weight: bold;
  color: #FF64CB;
}

.hero .scroll {
  width: 30px;
  margin-top: 0.5em;
  margin-right: 1em;
  border-width: 5px;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.projects .subtitle {
  color: #3700B3;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: -.6em;
  padding-bottom: 1em;
  display: block;
}

.projects .subtitle-line {
  width: 7em;
  height: .5em;
  margin-top: -10em;
  margin-bottom: 1em;
}

.projects .featured-title {
  font-weight: bold;
  font-size: 1.8em;
  margin-top: .7em;
}

.aboutme {
  background: #6200EE;
}

.aboutme .subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: -.6em;
  padding-bottom: 1em;
  display: block;
  margin-top: -.5em;
}

.aboutme .subtitle-line {
  width: 7em;
  height: .5em;
  margin-top: -10em;
  margin-bottom: 1em;
}

.aboutme .desc {
  color: #ffffff;
  margin-top: .7em;
  margin-bottom: .5em;
}

.certificates {
  background-image: url(../images/Image.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.certificates .subtitle {
  color: #3700B3;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: -.6em;
  padding-bottom: 1em;
  display: block;
  margin-top: -.5em;
}

.certificates .subtitle-line {
  width: 7em;
  height: .5em;
  margin-top: -10em;
  margin-bottom: 1em;
}

.certificates .certificates-container ul li .certificate-title {
  color: #000000;
  font-variant: unset;
  font-size: 1em;
  margin-bottom: -.6em;
  padding-bottom: 1em;
  margin-top: -.5em;
  -webkit-text-stroke-width: .0px;
  -webkit-text-stroke-color: white;
}

.articles .subtitle {
  color: #3700B3;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: -.6em;
  padding-bottom: 1em;
  display: block;
}

.articles .subtitle-line {
  width: 7em;
  height: .5em;
  margin-top: -10em;
  margin-bottom: 1em;
}

.articles .featured-title {
  font-weight: bold;
  font-size: 1.8em;
  margin-top: .7em;
}

.fotor {
  background-color: #6200EE;
}

.fotor .fotor-design {
  display: none;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav .line {
  display: none;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white
 text-decoration none;
  display: block;
  padding: .5em;
  margin-top: 1em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
}

@media only screen and (min-width: 795px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects, .articles {
    text-align: left;
  }
  .projects .subtitle-line, .articles .subtitle-line {
    margin-left: -.5em;
  }
  .articles, .projects-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left1, .projects-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-top: 3em;
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% auto;
        grid-template-columns: 80% auto;
    background: unset;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% auto;
        grid-template-columns: 80% auto;
    background: unset;
    padding: 0;
  }
  .hero .hero-design {
    display: block;
    margin-left: -120%;
    margin-top: 100%;
    width: 200%;
  }
  .hero .content {
    background: #6200EE;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 5em;
    line-height: 1.2em;
  }
  .hero .content .subhead {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero .content .meet {
    text-align: left;
    margin-left: 0em;
    font-size: 1.5em;
    line-height: 1em;
  }
  .right {
    margin-top: 3em;
    margin-left: 8em;
  }
}

@media only screen and (min-width: 1250px) {
  .right {
    margin-top: 3em;
    margin-left: 15em;
  }
  .left1, .projects-left {
    margin-left: 3em;
  }
  .featured-desc {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .projects .featured-title, .articles .featured-title {
    font-size: 2em;
    line-height: 1em;
  }
  .projects .subtitle-line, .articles .subtitle-line {
    margin-left: -1em;
  }
  .projects .subtitle, .articles .subtitle {
    font-size: 1.3em;
    margin-bottom: -0.8em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(174px, 792px);
            transform: translate(174px, 792px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(174px, 830px);
            transform: translate(174px, 830px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(174px, 792px);
            transform: translate(174px, 792px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(174px, 830px);
            transform: translate(174px, 830px);
  }
}
/*# sourceMappingURL=main.css.map */
