body {
    background: #11121a;
    background-size: cover;
    margin: 0 auto;
    font-family:  monospace, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    position: relative;
    max-width: 750px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    width: 90%;
    height: 100%;
    background: #11121a;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 0 auto;
}

.navbar .logo {
    width: 75px;
    vertical-align: middle;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.NavText {
    font-size: 1.4rem;
    text-decoration: none;
    color: #948d94;
    padding: 0px 30px;
    font-weight: 500;
}

.NavText:hover {
    background: #5333A0;
    background: -webkit-linear-gradient(135deg, #5333A0, #54C5F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.wrapper-sphere {
    margin: 50px;
    perspective: 800px;
    perspective-origin: 50% 100px;
}

.sphere {
    position: relative;
    margin: 0 auto;
    width: 200px;
    transform-style: preserve-3d;
}

.sphere > div {
    border:solid 2px #54C5F4;;
    border-radius:50%;
    height: 200px;
    opacity:.8;
    position: absolute;
    width: 200px;
}

div.equator {
    /*   border-color:#c00; */
    transform:rotateX(90deg);
}

div.tropic {
    height:172px;
    margin:14px;
    width:172px;
}

div.cancer {
    transform: translateY(-50px) rotateX(90deg);
}

div.capricorn {
    transform: translateY(50px) rotateX(90deg);
}

@keyframes spin {
    0% {
        transform: rotateX(15deg) rotateY(0) rotateZ(15deg);
    }
    50% {
        transform: rotateX(-15deg) rotateY(180deg) rotateZ(-15deg);
    }
    100% {
        transform: rotateX(15deg) rotateY(360deg) rotateZ(15deg);
    }
}

.sphere {
    animation: spin 60s infinite linear;
}

.typing {
    width: 14ch;
    animation: typing 2s steps(14), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
    background: #376896;
    background: -webkit-linear-gradient(135deg, #376896, #A8A0E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 12rem;
}

@keyframes typing {
    from {
        width: 0
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 2rem;
}

.hero div {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: 1.5rem;
}

/* Arrow Animation Start*/

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #54C5F4;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(2.28rem);
 }
 66.6% {
  opacity: 1;
  transform: translateY(3.12rem);
 }
 100% {
  opacity: 0;
  transform: translateY(4.8rem) scale(0.5);
 }
}
/* Arrow Animation End*/

.resume {
    width: 100px;
    margin: 0 auto;
    padding: .5rem;
    background: linear-gradient(135deg, #376896, #A8A0E8);
    color: #fff;
    border-radius: 1rem;
    border: none;
    font-family: inherit;
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
}

.sub-heading {
    font-family: monospace;
    color: #54C5F4;
    background: #376896;
    background: -webkit-linear-gradient(135deg, #376896, #A8A0E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-align: center;
    margin-top: 12rem;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .sub-heading {
    margin-top: 0rem;
}

#about p {
    text-align: justify;
    text-align-last: center;
    line-height: 1.4rem;
}

#linkedin {
    fill: #54C5F4;
}

#github {
    fill: #fff;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.icons a {
    margin: 1rem;
}

.cards-container {
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 275px;
    height: 175px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
    font-family: inherit;
    margin: 1rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 40px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, #54C5F4);
}

.card a, button a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    font-size: 0;
}

.card .date,
.card .title {
    margin: 0;
}

.card .date {
    font-size: 12px;
    color: #000;
    margin-bottom: 4px;
}

.card .title {
    font-size: 17px;
    color: #000;
}

.projects-desc {
    display: flex;
    flex-direction: column;
}

.project-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem;
}

.project-desc h2 {
    font-family: monospace;
    color: #54C5F4;
}

.project-desc .desc {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.project-desc .desc a {
    margin-top: 1rem;
    color: #A8A0E8;
}

.project-desc img {
    max-width: 200px;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.testimony-card {
    padding: .75rem 1.25rem;
    font-family: monospace;
    color: #54C5F4;
    border: 1px solid #fff;
    border-radius: 1rem;
    max-width: 450px;
    margin: 0 auto;
    font-size: 1rem;
}

.testimonial-cards button {
    width: 100px;
    margin: 0 auto;
    padding: .5rem;
    background: linear-gradient(135deg, #376896, #A8A0E8);
    color: #fff;
    border-radius: 1rem;
    border: none;
    font-family: inherit;
    font-size: .75rem;
    cursor: pointer;
    margin-bottom: 1rem;
    position: relative;
}

.testimony-card p {
    margin-bottom: 2rem;
    color: #fff;
    font-size: .9rem;
}

.testimony-card p span {
    font-style: italic;
    font-size: .8rem;
}

footer {
    margin-top: 12rem;
    margin-bottom: 3rem;
    color: #948d94;
    margin-left: 2rem;
}

@media (min-width: 1200px) {
    body {
        max-width: 1050px!important;
    }
}

@media (min-width: 1000px) {
    body {
        max-width: 950px;
    }

    .sub-heading {
        font-size: 2.5rem;
    }
}

@media (max-width: 800px) {
    #about p {
        padding: 3rem;
    }

    .NavText {
        display: none;
    }

    .testimonial-cards {
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .project-desc {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .project-desc img {
        display: none;
    }

    .project-desc:nth-child(2) {
        margin-top: 3rem;
    }

    .typing {
        font-size: 3em;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.content h1 {
    font-family: monospace;
    color: #54C5F4;
    background: #376896;
    background: -webkit-linear-gradient(135deg, #376896, #A8A0E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3em;
    margin-top: 5rem;
}

.content a {
    color: #54C5F4;
}

.content p {
    margin-top: 2rem;
    text-align: center;
    margin: 2rem;
    max-width: 90%;
}

.back-btn {
    background: transparent;
    color: #fff !important;
    border: none;
    font-size: 1rem;
    margin: 5rem auto 1rem auto;
    position: relative;
    border: 1px solid #fff;
    max-width: 75px;
    padding: .65rem 1rem !important;
    text-align: center !important;
}

.back-btn:hover {
    background: #ffffff71;
}

.content h3 {
    color: #54C5F4;
    text-align: center;
}

.content .long-desc {
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 1.25rem;
}

.content .commands {
    color: red;
    font-style: italic;
}

.content .links {
    font-style: italic;
    font-size: .9rem
}

.ducky-img {
    max-width: 90%;
    margin: 2rem;
}

/* Credits to Kiberbash for Card Design */

.projs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.proj {
    user-select:none;
    max-width: 300px;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
    margin: 1rem 1.5rem;
}

.proj hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
}

.proj ins {
    text-decoration: none;
}

.proj .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
}

.proj .projImage {
    border-radius: .5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.proj .description {
    margin: .5rem 0;
    color: #a89ec9;
}

.proj .section2 {
    display: flex;
    align-items: center;
    margin-top: .2rem;
    margin-bottom: -.3rem;
}

.proj .section2 ins {
    color: #a89ec9;
    text-decoration: none;
}

.proj::before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
}

.proj:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.proj:hover::before {
    filter: brightness(.5);
    top: -100%;
    left: 200%;
}

.proj a, button a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    font-size: 0;
}

/* End */

#about .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: .3rem;
    margin: 1.5rem;
    margin-right: .5rem;
    border-radius: 100%;
}

#about .wrapper img {
    border-radius: 100%;
    border: 1px solid #ffffff22;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin: 0;
}

/* Slideshow CSS */
.slideshow-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.slideshow-container button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    color: #3c376f;;
    font-size: 2rem;
}

.slideshow-container button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.slideshow-container .previous:hover span {
    transform: translateX(-10px) scale(1.2);
}

.slideshow-container .next:hover span {
    transform: translateX(10px) scale(1.2);
}

.slideshow-container .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.slideshow-container .slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
    justify-content: center;
}

.slideshow-container img {
    max-width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

.slideshow-container img.active {
    display: block;
    animation: fadeImg 0.8s;
}

.slider-nav .arrow {
    flex: 0 0 15%;
}

.slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.slider-nav span {
    display: block;
    width: 100%;
}

.slider-nav svg {
    width: 50px;
    fill: #54C5F4;
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}