@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
}

#content {
    display: none;
}

.hero {
    text-align: center;
    margin: 5rem auto;
}

#main-heading {
    font-size: 5rem;
}

.display-3 {
    font-size: 2rem;
}

.heading {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0.75rem;
    border-radius: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.nav-link img {
    width: 25px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: auto;
}

.hero img {
    width: 100%;
    max-width: 1000px;
}

.btn a {
    font-weight: 500;
}

.btn {
    box-shadow: 2px 2px 10px rgb(0 0 0 / 60%);
    transition: 0.2s ease-out;
}

.card .btn {
    box-shadow: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

.nav-item a {
    color: #fff;
}

.nav-item a:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.05);
}

nav {
    font-family: 'Poppins', sans-serif;
}

.card-header {
    background-color: #0d6efd;
    color: #fff;
    font-weight: 500;
}

.card {
    margin: 2rem 1rem;
    border: 2px solid #0d6efd;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 60%);
}

/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
}

.drop-in {
    animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}